.contact-sales-container
  %h2.margin-top0 Ready to talk?
  %p Our team is here to answer your questions about GitLab
  %a.btn.cta-btn.orange.margin-top20{ href: "/solutions/public-sector/#contact", :"data-ga-name" => "contact sales", :"data-ga-location" => "body" }
    Contact sales
  = link_to "/free-trial/", :"data-ga-name" => "free trial", :"data-ga-location" => "body", class: "margin-top20" do
    Or, get started now with a free trial
