---
layout: default
title: An Agile iteration with GitLab
description: "Download the whitepaper to unify your Agile efforts. Learn how GitLab can seamlessly tie into your Agile methodology."
canonical_path: "/resources/whitepaper-agile-iteration/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/agile-iteration-gitlab?x=QnKq41"
form_id: "1002"
form_type: "resources"
cta_title: "Download the whitepaper"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the whitepaper"
success_message: "You will also receive a copy of the whitepaper to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline An Agile iteration with GitLab
        %h2.page-headline Learn how GitLab can seamlessly tie into your Agile methodology

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Today’s software teams need to adopt a strong Agile project management approach to efficiently create customer-centric products and stay competitive. Teams string together various tools to organize workflow, resulting in delays, since bottlenecks surface at the integration points of different tools.
            
            %p GitLab, a single application, has been designed to be flexible enough to adapt to your methodology and help your team embrace Agile development. From issues and epics to milestones and burndown charts, GitLab provides complete Agile project management, helping you focus on delivering software.

            %h3 What you’ll learn in this whitepaper:
            %ul
              %li GitLab features match Agile artifacts
              %li High-performing teams use GitLab for Agile project management
              %li Delivering software can be seamless with the right tool

            %p Download the whitepaper to unify your Agile efforts.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }